.body{
    background-color:#8585ad;
 margin: 50px;
}
.columnone{
    background-color: #33383b;
}
.logo{
    height: 6em;
    width:70em;
    color: #33383b;
}
.file{
    color: white;
    font-size: 14px;
}
.p{
     font-size: 20px;
    color: gray;
    font-size: 14px;
}
.thre{
    text-align: right;

}
.backg{
    background-color: white;
}
.align{
    display: inline-block;
    padding: 1.5px;
}
